<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doterbaddeh.timerbuddy" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Dota2BackgroundTheme" >
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity" />
        </activity>
        <activity
            android:name=".CreditsActivity"
            android:label="@string/title_activity_credits"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.doterbaddeh.timerbuddy.MainMenuActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.doterbaddeh.timerbuddy.MainMenuActivity" />
        </activity>
        <activity
            android:name=".HeroActivity"
            android:label="@string/title_activity_hero"
            android:parentActivityName=".GameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.doterbaddeh.timerbuddy.GameActivity" />
        </activity>
        <activity
            android:name=".SkillItemActivity"
            android:label="@string/title_activity_skill_item"
            android:parentActivityName=".GameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.doterbaddeh.timerbuddy.GameActivity" />
        </activity>
    </application>

</manifest>
